.nav-own-style{
    position:fixed;
}

a.Login{
    position: absolute;
    left:90%;
    border: 1px ridge lightslategrey;
}
a.Login:hover{
    background-color:#99bbff;
}

a.Sign-in {
    position: absolute;
    left:94%;
    border: 1px ridge lightslategrey
}

a.Sign-in:hover{
    background-color:#99bbff;
}

.main-header{
    text-decoration-color: white;
}
.second-header{
    text-decoration-color: white;
}

.card-styling{
    position: relative;
    margin: auto;
}

.input-style{
    position: relative;
    margin-left:30%;
}
.input-style::placeholder{
    text-align: center;
}

.btn-container{
    display:flex;
    margin-left: 28%;
}

.btn-styling1{
    width:100px;
}
.btn-styling2{
    width:100px;
    margin-left: 5px;
}

.movie-names{
    position:relative;
    margin-left:45%;
}